*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.section{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 780px;
  box-sizing: border-box;
  border: 5px solid white;
  box-shadow: 2px 2px 20px black;
}
.main {
  position: absolute;
  top: 0px;
  left: 0%;
  height:450px ;
  width: 100%;
  max-width: 740px;
  background:wheat;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.main .title h1, .heading h1{
  color: teal;
  text-align: center;
  margin-bottom: 25px;
}
h1{
  color:teal;
}
.contact-form{
  display: flex;
}
.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields{
  width: 100%;
}

.input-fields .input{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid teal;
  padding: 10px;
  color: teal;
  width: 100%;
}
.milk-output{
  position: absolute;
  top: 460px;
  left: 0%;
  width: 100%;
  max-width: 740px;
  background: wheat;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.output .title h1{
  color: teal;
  text-align: center;
  margin-bottom: 25px;
}
.overTime{
  position: absolute;
    top: 590px;
    left: 0%;
    width: 100%;
    max-width: 740px;
    background: wheat;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.leapYearReport {
  position: absolute;
  top: 700px;
  left: 0%;
  width: 100%;
  max-width: 740px;
  background: wheat;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


